.board {
  display: block;
  padding: 5px;
}

.board-3 {
  width: 108px;
  height: 108px;
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  border: 1px solid grey;
  margin: 2px;
}
.cell:nth-child(even) {
  background-color: beige;
}
.cell:nth-child(odd) {
  background-color: azure;
}
.x {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAzUlEQVQ4T9WTsQ5BQRBF77vdS1R6n4JEh7/Qi1qlopUQhc6fUavVNzLJJha7O1u8gtfO7MnMPfMadPw1HfPwf0ACWAHYV0TRAlgAOMW9qZWHJGeS1gVoS/IgaQvg5gGtXoJmYfawJCUFLcI8oNVHJKdhfYMdw5rXXBw1ZzMmOQfQ92A1E1qPTXYBcJe09Ox7E8aZDSrsF6WkBLgnlZuwZLMITQFrbMb232L9BJLkWdIOQPY0AsHsTyRtvD+lB+Dh2Qz1r17PciX31fb7wCeKdl4V4LWQlQAAAABJRU5ErkJggg==)
}
.o {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABXUlEQVQ4T63UPS9lURTG8R+TaYR2BtFKfAWtTzBCIYROhEIUEtGJahKVCDOFhEQhQrz0Sh9CQXQY9SSKCSOLfeTYuZwTubvZN+vs9b9rPevZu0WTV0sN3hd8S+fu8PBRznvAiA9hJCVfp7077bs4xP8c3ggYSb9wik3cZ0ltmMQApnBb/p4DA7adDl5VyNGLDYyXoWVg/D7GHKpgxX8FdAU/ikAZOIwurNUYVPnIPC5xFMEy8CCVn2tWxW9PMkVBr8Cwxh6eg59YJxjEY1FhtLqI2U/AIiVcsYybZgF/YymmXQCb3nKUvY+JBkauUqEDW4X+5SnHVevBahUh+76Ac8Rg3tgm4OGl8NVFTWgffr5n7GB0YgfTNaABW8co/jS6KUUsoDG1s7T/zaoNzWbQn+78KyxvOe8yjDqGr4jnKyQJv/5LXTxrlq86D2wrvqe3Lx7Yx4/0rQOsOZ+XY08gWT0VXh4Y8gAAAABJRU5ErkJggg==)
}
